/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--main-font, sans-serif);
  font-size: var(--font-size, 18px);
  font-weight: var(--regular-font-weight, 400);
  color: var(--first-text-color, #000028);
  background-color: var(--background-color, #000028);
  background-image: var(
    --background-image,
    url(../images/cover-image-dark.png)
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10px;
}

.header {
  position: relative;
  display: grid;
  gap: 56px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  margin-bottom: 40px;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--second-text-color, #ff0070);
  border-right: 1px solid var(--second-text-color, #ff0070);
  right: 0px;
  top: 10px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--second-text-color, #ff0070);
  border-left: 1px solid var(--second-text-color, #ff0070);
  top: 632px;
}

.rec-element {
  display: var(--rec-display, flex);
  position: absolute;
  top: 10px;
  right: 10px;
  justify-content: center;
}

.rec-element::before {
  content: "Rec";
  color: var(--second-text-color, #ff0070);
  text-transform: uppercase;
}

.rec-element::after {
  position: relative;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-left: 4px;
  margin-top: 8px;
  background-color: var(--bg-decoration, #ff0070);
  box-shadow: 0px 0px 4px 3px var(--accent-shadow-color, #ff0070);
  margin-inline-end: 5px;
  right: 0px;
  left: 5px;
  top: 1px;
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
  padding-block-start: 73px;
  color: var(--second-text-color, #ff0070);
  font-weight: var(--regular-font-weight, 400);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-height: 26px;
  min-width: 70px;
  border: none;
  text-transform: lowercase;
  background-color: transparent;
  text-align: center;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--second-text-color, #ff0070);
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--second-text-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--second-text-color, #ff0070);
  padding-bottom: 3px;
  outline-offset: -2px;
  pointer-events: none;
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82%;
  color: var(--accent-color, #db00ff);
  text-shadow: 4px 4px 0px var(--accent-shadow-color, #ff0070);
  padding-block-start: 11px;
}

.header-description {
  font-weight: var(--bold-font-weight, 700);
  color: var(--first-text-color, #000028);
}

.title-decor {
  background-color: var(--background-text-color, #ff0070);
}

.text-br {
  display: block;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-title {
  font-size: inherit;
  font-weight: var(--bold-font-weight, 700);
  color: var(--second-text-color, #ff0070);
  line-height: 23px;
  margin-bottom: 20px;
}

.main-subheading {
  font-size: inherit;
  font-weight: var(--bold-font-weight, 700);
  margin-bottom: 9px;
}

.main-title-subheading {
  color: var(--first-text-color, #000028);
  font-weight: var(--bold-font-weight, 700);
}

.main-description {
  margin-bottom: 20px;
  color: var(--main-text-color, #f1b2ce);
}

.main-subheading-font-think {
  font-weight: var(--regular-font-weight, 400);
}

.content-link {
  text-shadow: 2px 2px 0px var(--shadow-link, #ff0070);
  text-decoration: none;
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--main-text-color, #f1b2ce);
}

.content-link:hover {
  border-bottom: 1px solid var(--main-text-color, #f1b2ce);
}

.main-section-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  gap: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.image-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 667px;
}

.footer-text {
  font-size: 116px;
  color: var(--accent-color, #db00ff);
  font-weight: var(--bold-font-weight, 700);
  line-height: 82.5%;
  align-self: center;
  text-shadow: 2px 2px 0px var(--accent-shadow-color, #ff0070);
}

.footer-decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--second-text-color, #ff0070);
  border-right: 1px solid var(--second-text-color, #ff0070);
  right: 0px;
  top: 10px;
}

.footer-decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--second-text-color, #ff0070);
  border-left: 1px solid var(--second-text-color, #ff0070);
  top: 632px;
}

@media (width >= 768px) {
  .page {
    padding: 0 20px;
  }

  .header {
    margin-bottom: 243px;
  }

  .rec-element {
    top: 20px;
    right: 10px;
  }

  .decorated-zone::before {
    top: 130px;
  }

  .header__theme-menu {
    padding-block-start: 191px;
  }

  .header-title {
    padding-top: 120px;
    margin-left: -20px;
  }

  .header-description {
    justify-self: end;
    padding-top: 102px;
    width: 364px;
  }

  .decorated-zone::after {
    top: 980px;
    left: 0px;
  }

  .main-content {
    gap: 58px;
  }

  .main-section-column {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .main-title-column {
    width: 236px;
    align-items: end;
  }

  .section-column {
    width: 472px;
  }

  .main-title {
    margin-bottom: 20px;
    font-size: inherit;
    color: var(--second-text-color, #ff0070);
  }

  .main-subheading {
    margin-bottom: 10px;
  }

  .main-title-subheading {
    color: var(--first-text-color, #000028);
    font-weight: var(--bold-font-weight, 700);
  }

  .main-description {
    margin-bottom: 20px;
  }

  /*  ------------ */

  .main-section-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    width: 728px;
    height: 780px;
    margin-top: 18px;
    margin-bottom: 60px;
  }

  .section-image {
    margin: 0;
  }

  .image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-image:nth-child(1) {
    grid-column: span 2;
  }

  .section-image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    min-height: 1024px;
  }

  .footer-text {
    font-size: 120px;
    text-align: center;
  }

  .footer-decorated-zone::before {
    top: 20px;
  }

  .footer-decorated-zone::after {
    top: 979px;
  }
}

@media (width >= 1024px) {
  .page {
    padding: 0 20px;
  }

  .header {
    margin-bottom: 193px;
  }

  .rec-element {
    top: 20px;
    right: 10px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-top: -173px;
  }

  .header-title {
    padding-top: 220px;
    margin-left: -20px;
    font-size: 157px;
  }

  .header-description {
    justify-self: end;
    padding-top: 58px;
    min-width: 491px;
  }

  .decorated-zone::after {
    top: 723px;
    left: 0px;
  }

  .main-content {
    gap: 58px;
  }

  .main-section-column {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .main-section-column-three {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
  }

  .main-column-three {
    width: 315px;
  }

  .main-section-column-grid .title-decor {
    height: 23px;
  }

  .main-title-column {
    width: 315px;
    align-items: end;
  }

  .section-column {
    width: 649px;
  }

  .main-title {
    margin-bottom: 20px;
    font-size: inherit;
    color: var(--second-text-color, #ff0070);
  }

  .main-subheading {
    margin-bottom: 10px;
  }

  .main-title-subheading {
    color: var(--first-text-color, #000028);
    font-weight: var(--bold-font-weight, 700);
  }

  .main-description {
    margin-bottom: 20px;
  }

  .main-section-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
    min-width: 984px;
    min-height: 1048px;
    margin-top: 18px;
    margin-bottom: 60px;
  }

  .image-item {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .section-image:nth-child(1) {
    grid-column: span 2;
  }

  .section-image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .section-image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .section-image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .section-image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    height: 1024px;
  }

  .footer-text {
    font-size: 157px;
    margin-bottom: 250px;
  }

  .footer-decorated-zone::before {
    top: 20px;
  }

  .footer-decorated-zone::after {
    top: 725px;
  }
}

