/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono';
  --regular-font-weight: 400;
  --bold-font-weight: 700;
  --font-size: 18px;
  --accent-color: #DB00FF;
  --accent-shadow-color: #FF0070;
  --shadow-link: #FF0070;
  --first-text-color: #000028;
  --second-text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --background-text-color: #FF0070;
  --bg-decoration: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --rec-display: flex;
}


